<?xml version="1.0" encoding="utf8"?>
<launch>
  <arg name="teleop" default="false" />

  <group unless="$(arg teleop)">
    <!-- Steering using robot_steering rqt plugin -->
    <node name="steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
  </group>
  <group if="$(arg teleop)">
    <!-- Rover teleoperation -->
    <node name="teleop" pkg="slam_project" type="teleop.py" output="screen">
      <remap from="teleop/cmd_vel" to="/cmd_vel"/>
    </node>
  </group>
</launch>
